*, *::after, *::before {
    box-sizing: border-box; /*everytime you set the width of the element you're only setting the width of the content, no border or padding*/
}

body {
    height: 100vh; /*viewport height, better than using a %*/
    /* background: rgba(225, 15, 30, .92);  */
    background-color: rgba(211, 66, 66, 0.9);
    /* background-image: url("https://i.imgur.com/WpeArtS.jpg"); */
    /* color: #eee; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: none; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background */
    border: 5px;
    /* border-color: red; */
    position: relative;
}

main {
    background-color: rgba(108, 228, 210, 0.8);
    border-radius: 10%;
}

h1 {
    display: flex;
    align-items: center;
    position: relative;
}

section div {
    border: 5px solid #eee;
    /* color: #eee;  */
}

div {
    border: none;
}

section {
    border: none;
}

header {
    font-family: 'Cabin Sketch', cursive;
    text-shadow:  rgba(108, 228, 210, 0.8) 2px 5px;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    /* margin-top: 100px;  */
    padding-top: 30px;
}

footer {
    display: flex;
    align-content: center;
}

/* #scoreL {
    display: flex;
    padding-right: 100px;
}

#scoreR {
    display: flex;
    padding-left: 100px;
} */


.left {
    border: 5px solid #eee;
    
}

.right {
    border: 5px solid #eee;
    
}

#left {
    display: grid;
    grid-template-columns: repeat(2, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    grid-gap: 2vmin;
    margin: 0 auto;
    /* color: #eee; */
    align-content: left;
    float: left;
    position: left;
    flex-direction: row;
    position: relative;
    right: 200px;
    border: none;
    margin-top: 40%;
}

#right {
    display: grid;
    grid-template-columns: repeat(2, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    grid-gap: 2vmin;
    margin: 0 auto;
    /* color: #eee; */
    align-content: right;
    float: right;
    position: right;
    flex-direction: row;
    position: relative;
    left: 200px;
    border: none;
    margin-top: 40%;
}

#inPlay {
    display: inline-grid;
    grid-template-columns: repeat(1, 10vmin);
    grid-template-rows: repeat(6, 10vmin);
    grid-gap: 2vmin;
    margin: auto;
    /* color: #eee; */
    /* position: center; */
    flex-direction: column;
    position: relative;
    margin-top: 0%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(108, 228, 210, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    position: static;
    font-family: 'Cabin Sketch', cursive;
  }
  
button:hover {
    background-color:  rgba(190, 25, 255, .8);
    color: white;
    font-family: 'Cabin Sketch', cursive;
  }

.one-die {
      background: url("https://i.imgur.com/U8Aweq3.jpg") no-repeat; 
      /* background-position: center; */
      /* background-size: 78.8px 78.8px; */
      background-size: contain;
  }

.two-die {
    background: url("https://i.imgur.com/GF6f5l3.jpg") no-repeat;
    background-size: contain;
    
}
.three-die {
    background: url("https://i.imgur.com/GF6f5l3.jpg") no-repeat;
    background-size: contain;
    
}
.four-die {
    background: url("https://i.imgur.com/GF6f5l3.jpg") no-repeat;
    background-size: contain;
}

.five-die {
    background: url("https://i.imgur.com/GF6f5l3.jpg") no-repeat;
    background-size: contain;
    
}
.six-die {
    background: url("https://i.imgur.com/GF6f5l3.jpg") no-repeat;
    background-size: contain;
    
  }

